/*全局样式*/
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: white;
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main {
    width: 1210px;
    height: auto;
    margin: 0 auto;
}

/*面包屑导航*/
#breadcrumb {
}

#breadcrumb ul {
    display: flex;
    display: -webkit-flex;
    margin: 20px 5px;
    list-style: none;
}

#content {
    display: -webkit-flex;
    display: flex;
}

#left {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 900px;
}

#left-sort {
    display: flex;
    display: -webkit-flex;
    width: 900px;
    height: 40px;
    border-radius: 8px;
    background: rgb(223, 223, 223);
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 30px;
    background: rgb(253, 253, 253);
}

/*三角形的画法*/
.icon-in {
    width: 0;
    height: 0;
    margin-top: 10px;
    margin-left: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgb(153, 153, 153);
}

.icon-text {
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-weight: bold;
    background: none;
}

#left-book {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#left-book ul {
    list-style: none;
}

#left-book ul li {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    width: 898px;
    height: 198px;
    margin-top: 10px;
    padding: 20px 0;
    border: 1px solid lightgrey;
}

.book-introduce {
    padding-right: 10px;
}

.book-introduce p,.book-introduce h3,.book-introduce span {
    margin: 10px 0;
}

.book-introduce h3 {
    font-size: 18px;
}

.book-introduce span {
    font-size: 14px;
}

#right {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin-left: 10px;
    width: 300px;
}

#right-sort {
    display: flex;
    display: -webkit-flex;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background: rgb(223, 223, 223);
}

#right-book ul {
    list-style: none;
}

#right-book ul li {
    width: 300px;
}

#right-book ul li div {
    width: 200px;
    height: 230px;
    margin-left: 49px;
    margin-top: 10px;
    border: 1px solid lightgrey;
}

#right-book ul li div p {
    text-align: center;
}

#right-book ul li div p a b {
    font-size: 14px;
}